name: Test Build

on:
  schedule:
    - cron: 0 16 * * *
  workflow_dispatch:

env:
  REPO_URL: https://github.com/DHDAXCW/immortalwrt
  REPO_BRANCH: openwrt-24.10
  CONFIG_FILE: marvell_config/defconfig
  DIY_P1_SH: build-prep-defaults.sh
  DIY_P2_SH: setup-packages.sh
  UPLOAD_FIRMWARE: true
  UPLOAD_RELEASE: true
  TZ: Asia/Shanghai
  OPENWRT_NAME1: marvell

jobs:
  build:
    runs-on: self-hosted

    steps:
    - name: 最大化构建空间
      uses: easimon/maximize-build-space@master
      with:
        root-reserve-mb: 512
        swap-size-mb: 1024
        remove-dotnet: 'true'
        remove-android: 'true'
        remove-haskell: 'true'
        remove-codeql: 'true'

    - name: 初始化环境并显示系统信息
      env:
        DEBIAN_FRONTEND: noninteractive
      run: |
        chmod +x *.sh
        $GITHUB_WORKSPACE/system-Information.sh
        
    - name: 下载固件源码
      run: |
        git clone --depth 1 $REPO_URL -b $REPO_BRANCH openwrt

    - name: 更新并安装 feeds
      working-directory: ./openwrt
      run: |
        ./scripts/feeds update -a
        ./scripts/feeds install -a
        
    - name: 加载 feeds.conf.default
      run: |
        chmod +x *.sh
        cd openwrt
        $GITHUB_WORKSPACE/$DIY_P1_SH

    - name: 加载配置
      run: |
        [ -e "$CONFIG_FILE" ] && cat "$CONFIG_FILE" > openwrt/.config
        chmod +x *.sh && cd openwrt
        $GITHUB_WORKSPACE/$DIY_P2_SH

    - name: 下载安装包
      id: package
      run: |
        cd openwrt
        echo '
        CONFIG_TARGET_mvebu=y
        CONFIG_TARGET_mvebu_cortexa72=y
        CONFIG_TARGET_mvebu_cortexa72_DEVICE_qnap_qhora-322=y
        CONFIG_HAS_SUBTARGETS=y
        CONFIG_HAS_DEVICES=y
        CONFIG_TARGET_BOARD="mvebu"
        CONFIG_TARGET_SUBTARGET="cortexa72"
        CONFIG_TARGET_PROFILE="DEVICE_qnap_qhora-322"
        CONFIG_TARGET_ARCH_PACKAGES="aarch64_cortex-a72"
        CONFIG_DEFAULT_TARGET_OPTIMIZATION="-Os -pipe"
        CONFIG_CPU_TYPE="cortex-a72"
        CONFIG_LINUX_6_6=y
        CONFIG_DOCKER_CGROUP_OPTIONS=y
        CONFIG_DOCKER_NET_MACVLAN=y
        CONFIG_DOCKER_STO_EXT4=y
        CONFIG_PACKAGE_docker=y
        CONFIG_PACKAGE_docker-compose=y
        CONFIG_PACKAGE_dockerd=y
        CONFIG_PACKAGE_luci-app-dockerman=y
        CONFIG_PACKAGE_luci-i18n-dockerman-zh-cn=y
        CONFIG_PACKAGE_luci-lib-docker=y
        ' >> .config
        make defconfig
        make download -j$(nproc)
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;

    - name: 编译固件
      id: compile
      run: |
        cd openwrt
        echo -e "$(nproc) thread compile"
        make -j$(nproc) || make -j1 || make -j1 V=s
        echo "date1=$(date +'%Y.%m.%d')" >> $GITHUB_ENV
        echo "date2=$(date "+%Y年%m月%d日")" >> $GITHUB_ENV
        echo "status=success" >> $GITHUB_OUTPUT
